*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
.app{
    min-height: 100vh;
    background-color: #1f242d;

}
header{
    min-height: 10vh;
}
.header-content{
    min-height: 10vh;
    /* border: 2px solid; */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
span.logo{
    font-size: 30px;
    font-weight: 700;
}
nav{}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav ul li:hover a,
nav ul li.active a{
    color: #7cf03d;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-size: 20px;
    font-weight: 500;
}
/* ------------------------------------------------------ */
main{
    min-height: 80vh;
}
.hero-section-content{
    color: #fff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9%;
    display: flex;
    /* border: 2px solid red; */
}
.hero-box-1{

}
.hero-h1{
    font-size: 55px;
}
.hero-h1{
    font-size: 32px;
    margin-top: -10px;
}
/* h2 animation vid 23:06 */
.hero-box-1 h2{
    display: inline-block;
}
/* blink text */
.hero-box-1 h2 span{
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.5px #7cf03d;
    /* border: 2px solid red; */
    animation: display-text 12s linear infinite;
    animation-delay: calc(-4s*var(--i));
    position: relative;
}
/* text fill vid 27:50 */
.hero-box-1 h2 span::before{
    content: attr(data-text);
    color: #7cf03d;
    position: absolute;
    width: 0;
    border-right: 5px solid #7cf03d;
    /* border: 5px solid purple; */
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite ;
}
/* vid 29:22 */
@keyframes fill-text {
    10%,
    100%{
        width: 0;
    }
    /* write */
    70%,
    90%{
        width: 100%;
    }
}
@keyframes display-text {
    25%,
     100%{
        display: none;
    }
    
}
.hero-box-1 p{
    font-size: 16px;
    margin: 10px 0px  25px ;
}
.action-btn button{
    color: #1f242d;
    background-color: #7cf03d;
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 16px;
    border: 2px solid #7cf03d;
    font-weight: 600px;
    transition: all 0.5s;
    box-shadow: 0 0 10px #7cf03d;
}
.action-btn button:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
    cursor: pointer ;
}
/* parent div with red bg 12.04 of the vid */
.hero-box-2 .img-wrapper{
    width: 400px;
    height: 400px;
    /* background: red; */
    border-radius: 50%;
    padding: 5px;
    position: relative;
    /* center pseudo el vid 14:9 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* hide the animate 14:43 */
    overflow: hidden;
}
/* to animate the border vid 30:11 */
.hero-box-2 .img-wrapper::before,
.hero-box-2 .img-wrapper::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent,#7cf03d);
    /* z-index: 10; */
    transform: rotate(0deg);
    animation: rotate-border 4s linear infinite ;
}
.hero-box-2 .img-wrapper::after{
    animation-delay: -6s;
}
@keyframes rotate-border {
    100%{
        transform:rotate(360deg) ;
    }
}
.hero-box-2 .img{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    /* background: slateblue; */
    border-radius: 50%;
    /* center img */
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    /* to remove black line vid 15:33 */
    border: 1px solid #1f242d ;


}
.hero-box-2 img{
    position: absolute;
    top: 20px;
    display: block;
    width: 85%;
    object-fit: cover;
    /* img blend to background vid 15:14 */
    mix-blend-mode: lighten;
}